
article.journalEntry {
    display: flex;
    margin-bottom: 30px;
}



article.journalEntry .mainImageContainer {
    width: 250px;
    height: 300px;
    overflow: hidden;
    border-radius: 5px;
    flex-shrink: 0;
    margin-right: 19px;
}

article.journalEntry .mainImage {
    height: 100%;
    width: 100%;
    object-fit: cover;
}


article .infoContainer .infoHeader {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 10px;
}
article.journalEntry .marker {
    width: 30px;
    margin-right: 8px;
}

.infoContainer span.country {
    text-transform: uppercase;
    font-size: 1.1rem;
    margin-right: 12px;
    margin-right: 16px;
}

.infoContainer a {
    color: #918E9B;
    font-size: 0.8rem;
    text-decoration: none;
}

.infoContainer a:hover {
    color: #000000;
    text-decoration: underline;
}



.infoContainer h2.entryTitle {
    margin-top: 10px;
    margin-bottom: 17px;
    font-size: 1.9rem;
}


.infoContainer p.tripDates {
    font-weight: bold;
}


.infoContainer p.entryText {
    line-height: 1.7;
    font-size: 1.1rem;
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;  
    overflow: hidden;
}


.breakLine {
    border: 1px solid rgba(163, 163, 163, 0.45);
    width: 80%;
    margin-left: 10%;
    margin-bottom: 30px;
}





